<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Slide Show</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div id="app" class="slide-show">
      <h1 class="slide-show__title">スライドショー</h1>
      <div class="slide-show__content">
        <div class="slide-show__btn--left">
          <button @click="prev">＜</button>
        </div>

        <div class="slide-show__images">
          <transition-group tag="div" class="slider" :name="style">
            <div
              v-for="(image, index) in images"
              :key="image"
              v-show="index === displayImage"
              @click="showModal(index)"
            >
              <img class="slide-show__img" :src="image" alt="" />
            </div>
          </transition-group>
        </div>

        <div v-show="isShow" class="slide-show__modal modal">
          <div
            class="modal__inner"
            v-for="(image, index) in images"
            :key="image"
            v-show="index === displayImage"
          >
            <img class="modal__img" :src="image" alt="" />
          </div>
          <div class="modal__bg" @click="hiddenModal"></div>
        </div>

        <div class="slide-show__btn--right">
          <button @click="next">＞</button>
        </div>
      </div>

      <div class="slide-show__footer">
        <div
          v-for="(image, index) in images"
          :key="image"
          @click="switchImage(index)"
        >
          <img
            class="slide-show__thumbnail"
            :class="{'thumbnail_active': index === displayImage}"
            :src="image"
            alt=""
          />
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
